
<a class="button-block" href = "#explore">Оставить комментрарий</a>
<a class="button-main button-block">Что есть поблизости</a>
<a class="button-positive button-block">Самые коментируемые</a>
<a class="button-negative button-block">Мои коментарии</a>
