<ul class="list">
  <li>
    <a href="#">
      Кафе Вояж
      <span class="chevron"></span>
      <span class="count">400 m</span>
    </a>
  </li>
  <li>
    <a href="#">
      У Лукьяна
      <span class="chevron"></span>
      <span class="count">500 m</span>
    </a>
  </li>
  <li>
    <a href="#">
     Кинилиничи бар-ресторан
      <span class="chevron"></span>
      <span class="count">700 m</span>
    </a>
  </li>
  <li>
    <a href="#">
      Кафе Вояж
      <span class="chevron"></span>
      <span class="count">400 m</span>
    </a>
  </li>
  <li>
    <a href="#">
      У Лукьяна
      <span class="chevron"></span>
      <span class="count">500 m</span>
    </a>
  </li>
  <li>
    <a href="#">
     Кинилиничи бар-ресторан
      <span class="chevron"></span>
      <span class="count">700 m</span>
    </a>
  </li>
  <li>
    <a href="#">
      Кафе Вояж
      <span class="chevron"></span>
      <span class="count">400 m</span>
    </a>
  </li>
  <li>
    <a href="#">
      У Лукьяна
      <span class="chevron"></span>
      <span class="count">500 m</span>
    </a>
  </li>
  <li>
    <a href="#">
     Кинилиничи бар-ресторан
      <span class="chevron"></span>
      <span class="count">700 m</span>
    </a>
  </li>
</ul>